{% extends "/layouts/main.html" %}

{% set title = "This email address is already in use" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">You've changed your email address to one already associated with another Defra account.</p>

    
    <p class="govuk-body">Please return to [Identity Provider] and change the email address to one that is not in use with a Defra account.
    </p> 
      
     <p class="govuk-body">Alternatively, you can return to [Identity Provider] and sign in using the details originally associated with that account.</p>

    <p class="govuk-body">If you have forgotten your sign in details, you can <a href="/help#contacting-defra-services" target="_blank">contact the service (opens in a new tab)</a> for help on how to complete your task.</p>
    
   {{ govukButton({
      text: "Sign out",
      href: "#"
    }) }}

   <details class="govuk-details" data-module="govuk-details">
            
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Need more help?</span>
      </summary>
      <div class="govuk-details__text">                    
          <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
          <p class="govuk-body">Telephone:<br>
          [Service telephone number]</p>
          <p class="govuk-body">Email:<br>
          <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
          <p class="govuk-body">Service opening times:<br>
          [Service Opening Hours], except public holidays</p>       
          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    
      </div>
    </details>


  </div>
</div>


{% endblock %}
