{% extends "/layouts/main.html" %}

{% set title = "This email address is already in use" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{title}}</h1>
    <p class="govuk-body">There's an existing Defra account associated with this email address.</p>

    <p class="govuk-body">You'll need to return to [Identity Provider] and use the sign in details associated with that account, or use a different email address.</p>

    <p class="govuk-body">Please sign out below, return to the service you were trying to access and sign in with a different account.</p>

    {{ govukButton({
      text: "Sign out",
      href: "/signed-out"
    }) }}

    <details class="govuk-details" data-module="govuk-details">
            
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Need more help?</span>
      </summary>
      <div class="govuk-details__text">                    
          <p class="govuk-body">Contact [Service name] by phone or email.</p>                            
          <p class="govuk-body">Telephone:<br>
          [Service telephone number]</p>
          <p class="govuk-body">Email:<br>
          <a href="#" class="govuk-link govuk-link--no-visited-state">[Service email]</a></p>
          <p class="govuk-body">Service opening times:<br>
          [Service Opening Hours], except public holidays</p>       
          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>                                                                    
      </div>
    </details>


  </div>
</div>


{% endblock %}
