{% extends "/account/layouts/main.html" %}
{% set showBackLink = false %}
{% set amrDefaults = data.defaults[data.auth.amr] %}
{% if (amrDefaults[data.userType] == null) %}
    {% set userType = 'user' %}
{% else %}
    {% set userType = data.userType %}
{% endif %}
{% set user = amrDefaults[userType] %}

<!-- Page headings -->
{% set pageHeading = user.name %}
{% set pageSection = "" %}



{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
<!-- ////// -->


{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

				<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Full name</dt>
						<dd class="govuk-summary-list__value">	{{ user.name }}{% if (user.email != data.auth.user.email) %}<br><a href="#">Remove<span class="govuk-visually-hidden"> this person</span></a>{% else %} (you){% endif %}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Email address</dt>
						<dd class="govuk-summary-list__value">{{ user.email }}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Phone number</dt>
						<dd class="govuk-summary-list__value">{{ user.telephone }}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Account</dt>
						<dd class="govuk-summary-list__value">{{ amrDefaults.organisation.name }}</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Role</dt>
						<dd class="govuk-summary-list__value">{{ data.accountRoles[userType].name }}</dd>
					</div>
				</dl>

                <p>
                {% if (user.email != data.auth.user.email) %}
                    <a href="/account/manage/team/change-account-role?userType={{userType}}">Change account role</a>
                {% else %}
                    <a href="/account/manage/cannot-change">Change account role</a>
                {% endif %}
                </p>

  			</div>

  			<div class="govuk-grid-column-full">

				<h2 class="govuk-heading-l">Service access</h2>
				<table class="govuk-table {{ tableCSS }}">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header column-full" scope="col">Service</th>
							<th class="govuk-table__header column-full" scope="col">Service role</th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
							<th class="govuk-table__header column-full" scope="col"><span class="govuk-visually-hidden td-header">Action</span></th>
						</tr>
					</thead>

					<tr class="govuk-table__row no-border">
						<td class="govuk-table__cell">IPAFFS</td>
						<td class="govuk-table__cell">Notifier</td>
						<td class="govuk-table__cell"><a href="/account/manage/team/change-role" class="govuk-link--no-visited-state">Change service role</a></td>
						<td class="govuk-table__cell"><a href="dashboard" class="govuk-link--no-visited-state">Remove access</a></td>
					</tr>
				</table>

				<div class="govuk-card__content">
					<h2 class="govuk-heading-l">Link to services</h2>
					<div class="govuk-grid-row idm-grid-row__services">
						<div class="govuk-grid-column-one-third">
							<div class="govuk-card govuk-card--contained govuk-card--selectable">
								<a id="link-ipaffs" href="#" aria-label="Manage service IPAFFS"></a>
								<div class="govuk-card__content">
									<h3 class="govuk-heading-m">IPAFFS</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

    </div>

</div>

{% endblock %}
