{% extends "/layouts/main.html" %}
{% set showBackLink = true %}
{% set DefraAccount = true %}
{% set showNav = true %}
{% set pageHeading = "Some service roles will be lost" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/account/manage/team/member" method="post">
            {% set regex = r/^[aeiouhAEIOUH].*/g %}
            {% if regex.test(data.auth.user.accountRole) %}
                {% set aan = 'an' %}
            {% else %}
                {% set aan = 'a' %}
            {% endif %}

            {{ govukRadios ({
                idPrefix: "confirmRemoval",
                name: "confirmRemoval",
                fieldset: {
                    legend: {
                        text: data.auth.user.name + " will lose some service roles, do you want to continue?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: '<p class="govuk-body">I understand that as a <span class="govuk-!-font-weight-bold">Standard user</span>, ' + data.auth.user.name + ' can no longer hold the following service roles:</p><ul class="govuk-list govuk-list--bullet"><li>Notifier in IPAFFs</li><li>Inspector in IPAFFs</li></ul>'
                },
                items: [
                    { value: "yes", text: "Yes, remove those service roles" },
                    { value: "no", html: 'No, ' + data.auth.user.name + ' should remain ' + aan + ' <span class="govuk-!-font-weight-bold">' + data.auth.user.accountRole + '</span>' }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
