{% extends "layout_email.html" %}

{% set title = "You have been invited to access Defra onlne services" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data.defaults.ttp.ceo.name}},</p>

    <p class="govuk-body">Defra has invited you to create an account on behalf of {{data.defaults.ttp.organisation.name}} for {{data.defaults.ttp.service.name}}.</p>

    <h2 class=govuk-heading-m>Creating your account</h2>

    <p class="govuk-body">
        You will need to create a Defra account in order to access {{data.defaults.ttp.service.name}}. This will include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>verifying your {{data.defaults.ttp.organisation.name}} email address</li>
        <li>inviting team members</li>
    </ul>

    <p class="govuk-body">
        <a href="/b2c/thirdParty/?userType=ThirdPartyCEO">Register your Defra account</a>
    </p>

    {{
        govukWarningText({
        text: "The registration process will take around 10 minutes. You will ahve 30 days to register or we will delete your information",
        iconFallbackText: "Warning"
        })
    }}

    <p class="govuk-body">
        If you have already created a Defra account, you can <a href="/b2c/thirdParty/?userType=ThirdPartyCEO">sign in here</a>.
    </p>

    <h2 class="govuk-heading-m">Inviting team members</h2>
    <p class="govuk-body">
        You will be asked to invite team members to access {{data.defaults.ttp.service.name}} on behalf of {{data.defaults.ttp.fred.name}}.
    </p>
    <p class="govuk-body">
        You will also need to let us know whether they will be an administrator, where they can view and manage team members on the account.
    </p>

    {% include "includes/contact.html" %}

    <p class="govuk-body">
        View our <a href="#">privacy notice</a>
    </p>

  </div>
</div>
{% endblock %}


