{% extends "layout_email.html" %}

{% set title = "You have been invited to access Defra onlne services" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data.defaults.ttp.ceo.name}},</p>

    <p class="govuk-body">Defra has invited you, as the {{data.defaults.ttp.ceo.accountRole | lower}}, to register {{data.defaults.ttp.organisation.name}} for the {{data.defaults.ttp.service.name}} service.</p>

    <h2 class=govuk-heading-m>What you need to do</h2>

    <p class="govuk-body">
        You will be asked to sign in to your Defra account to confirm your organisation's details for {{data.defaults.ttp.service.name}}.
    </p>

    <p class="govuk-body">
        If you don't have a Defra account, you will be guided through setting one up as part of this process.
    </p>
    <p class="govuk-body">
        Once registered, you will need to invite team members to access services on behalf of your organisation.
    </p>

    <p class="govuk-body">
        <a href="/b2c/thirdParty/?userType=ThirdPartyCEO">Complete your registration</a>
    </p>

    {{
        govukWarningText({
        text: "The registration process will take around 10 minutes. You will have 30 days to register or we will delete your information.",
        iconFallbackText: "Warning"
        })
    }}

    {% include "includes/contact.html" %}

    <p class="govuk-body">
        View our <a href="#">privacy notice</a>
    </p>

  </div>
</div>
{% endblock %}


