{% extends "layout_email.html" %}

{% set title = "You have been invited to access " + data.defaults.ttp.service.name %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <p class="govuk-body">Hello,</p>
    <p class="govuk-body">
        {{data.defaults.ttp.owner.name}} has invited you to act on behalf of {{data.defaults.ttp.organisation.name}} for {{data.defaults.ttp.service.name}}.
    </p>

    <h2 class="govuk-heading-m">What you need to do</h2>
    <p class="govuk-body">
        You will be asked to sign in to your Defra account to confirm your relationship with {{data.defaults.ttp.organisation.name}}.
    </p>
    <p class="govuk-body">
        If you don't have a Defra account, you will be guided through setting one up as part of this process.
    </p>

    <p class="govuk-body">
        <a href="/b2c/thirdParty?invitation=new">Complete your registration</a>
    </p>

    {{
        govukWarningText({
        text: "The registration process will take around 10 minutes. You will have 30 days to register or we will delete your information.",
        iconFallbackText: "Warning"
        })
    }}

    {% include "includes/contact.html" %}

    <p class="govuk-body">View our <a href="#">privacy notice</a></p>
  </div>
</div>

{% endblock %}
