{% if data.auth.amr == "cap" %}
    <form class="form" action="/services/vets/start" method="post" >
{% elif data.auth.amr == "ttp" %}
    <form class="form" action="/authentication/ttp" method="post" >
{% else %}
    <form class="form" action="/service-start-page" method="post" >
{% endif %}

    {% include "includes/preload/mfa.html" %}

    <!-- Organisation registered to choose from -->
    <!-- //////////////////////////////////////////////////////////// -->
    {% if data.auth.amr == "cap" %}

            {{ govukRadios({
                classes: "govuk-radios--inline",
                fieldset: {
                    legend: { text: "Organisations available on rural payments account", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
                },
                items: [
                    { value: "None", text: "None", checked: checked("companySize", "None") },
                    { value: "Single", text: "One", checked: checked("companySize", "Single") },
                    { value: "20", text: "Up to 20", checked: checked("companySize", "20") },
                    { value: "45", text: "More than 20", checked: checked("companySize", "45") }
                ],
                name: "companySize"
            }) }}

    {% else %}

        {{ govukRadios({
            classes: "govuk-radios--inline",
            fieldset: {
                legend: { text: "Organisations available to users Defra account", isPageHeading: false, classes: "govuk-fieldset__legend--m"  }
            },
            items: [
                { value: "Single", text: "Single" },
                { value: "20", text: "Up to 20", checked: checked },
                { value: "45", text: "More than 20" }
            ],
            name: "companySize"
        }) }}

    {% endif %}

    <!-- Interswitch -->
    <!-- //////////////////////////////////////////////////////////// -->
    {% if data.auth.amr != "cap" %}
        <h3 class="govuk-heading-m">Interswitch options</h3>

        {{ govukCheckboxes({
            items: [
                { value: "Single", text: "Only single organisation available for enrolment", checked: checked("interSwitchSize", "Single")}
            ],
            name: "interSwitchSize"
        }) }}

        {{ govukCheckboxes({
            items: [
                { value: "Yes", text: "Shows citizen only option for enrolment", checked: checked("citizenEnrol", "Yes")}
            ],
            name: "citizenEnrol"
        }) }}

    {% endif %}


    <!-- {% include "includes/preload/oneLogin.html" %} -->

    {{ govukButton({
        text: "Add and continue"
    }) }}

</form>
