{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Defra account" %}

{% set pageHeading = 'What’s your ' +  (data.auth.organisation.type | lower) + ' email address?' %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {{
            govukInsetText({
                text: "This must be the email address you use at " + data.auth.organisation.name
            })
        }}

        <p class="govuk-body">We will send a one-time passcode to this email address.</p>

        <form method="post" action="/authentication/ttp" >

                {{ govukInput({
                    label: {
                        text: "Email address",
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "email",
                    name: "email",
                    type: "email"
                }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
