{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}


{% set pageHeading = "How do you want to sign in?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <form method="post" action="/authentication/amr-selection">

        {{ govukRadios({
            name: "amrSelection",
            fieldset: {
                legend: {
                    text: "How do you want to sign in?",
                    isPageHeading: true,
                    classes: "govuk-visually-hidden"
                }
            },
            items: [
                { value: "one", text: "Sign in with GOV.UK One Login", hint: { text: "Use your email address and password. If you don't have a GOV.UK One Login, you can create one." } },
                { value: "scp", text: "Sign in with Government Gateway", hint: { text: "You'll have a user ID if you've registered for Self Assessment or filed a tax return online before." } },
                { value: "ttp", text: "Sign in as a Local Authority", hint: { text: "Use your email address to obtain a one-time passcode." } }
            ]
        }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
