<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">User authentication</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link x-govuk-link--todo">Customer Identity feature disabled</a></li>
        <li><a class="govuk-link x-govuk-link--todo">No JS page</a></li>
        <li>
            Authentication method selection
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/sign-in?status=">User select AMR</a></li>
                <li><a class="govuk-link x-govuk-link--todo">Service Problem</a></li>
            </ul>
        </li>
        <li>
            User authentication
            <ul class="govuk-list govuk-list--bullet">
                <li>Government Gateway</li>
                <li>GOV.UK One Login</li>
                <li>Trusted Third Parties</li>
                <li>
                    RPA credentials
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link x-govuk-link--todo">RPA feature disabled</a></li>
                        <li>
                            <a class="govuk-link x-govuk-link--todo">CRN & password</a>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a class="govuk-link x-govuk-link--todo">CRN & password invalid</a></li>
                                <li><a class="govuk-link x-govuk-link--todo">User locked out</a></li>
                            </ul>
                        </li>
                        <li>
                            Forgot password
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a class="govuk-link x-govuk-link--todo">Forgot password</a></li>
                                <li><a class="govuk-link x-govuk-link--todo">New password</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="govuk-link x-govuk-link--todo">You must sign out</a></li>
            </ul>
        </li>
        <li>
            Retrieve user details
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link x-govuk-link--todo">Duplicate email during registration</a></li>
                <li><a class="govuk-link x-govuk-link--todo">Duplicate email during sign-in</a></li>
                <li><a class="govuk-link x-govuk-link--todo">Service problem</a></li>
                <li><a class="govuk-link x-govuk-link--todo">No account</a></li>
            </ul>
        </li>
        <li>
            <a class="govuk-link" href="#register">Registration & invitation redemption</a>
        </li>
    </ul>
</div>

<div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">MFA</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/unavailable?status=&mfaDisabled=Yes">MFA feature disabled</a></li>
        <li><a class="govuk-link" href="/authentication/verify-single-number?status=">MFA selection</a></li>
        <li>
            MFA via SMS
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link x-govuk-link--todo">MFA via SMS feature disabled</a></li>
                <li>
                    Phone number selection
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" href="/authentication/verify?status=&verify-your-identity=send-sms">Confirm single phone number</a></li>
                        <li><a class="govuk-link" href="/authentication/verify-multiple-numbers?status=&verify-your-identity=send-sms">Select from multiple phone numbers</a></li>
                        <li><a class="govuk-link" href="/authentication/no-access?status=&verify-your-identity=send-sms">Changing phone number used for MFA</a></li>
                    </ul>
                </li>
                <li><a class="govuk-link" href="/authentication/failed-to-send?status=&verify-your-identity=send-sms">Problem sending SMS</a></li>
                <li>
                    <a class="govuk-link" href="/authentication/get-code?status=&verify-your-identity=send-sms">Enter verification code</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" href="/authentication/get-code?status=&verify-your-identity=send-sms#">Verification code resent</a></li>
                        <li><a class="govuk-link x-govuk-link--todo">Maximum resend attempts reached</a></li>
                        <li><a class="govuk-link x-govuk-link--todo">Maximum retry attempts reached</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            MFA via Email
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link x-govuk-link--todo">MFA via email feature disabled</a></li>
                <li><a class="govuk-link" href="/authentication/security-word?status=">Memorable word check</a></li>
                <li>
                    Email address selection
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" href="/authentication/verify?status=&mfaEmailDisabledy=Yes">Confirm email address</a></li>
                        <li><a class="govuk-link" href="/authentication/no-access?status=&verify-your-identity=send-email">Changing email address used for MFA</a></li>
                    </ul>
                </li>
                <li><a class="govuk-link" href="/authentication/failed-to-send-email?status=&verify-your-identity=send-email">Problem sending email</a></li>
                <li>
                    <a class="govuk-link" href="/authentication/get-code?status=&verify-your-identity=send-email">Enter verification code</a>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link x-govuk-link--todo">Verification code resent</a></li>
                        <li><a class="govuk-link x-govuk-link--todo">Maximum resend attempts reached</a></li>
                        <li><a class="govuk-link x-govuk-link--todo">Maximum retry attempts reached</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Picker</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link x-govuk-link--todo">No enrolments</a></li>
        <li>
            Picker page
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link x-govuk-link--todo">Picker (Less than 20 items)</a></li>
                <li><a class="govuk-link x-govuk-link--todo">Picker (20 items or more)</a></li>
            </ul>
        </li>
        <li><a class="govuk-link x-govuk-link--todo">Verify pre-selected relationship</a></li>
        <li>
            Interswitch
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link x-govuk-link--todo">Interswitch page</a></li>
                <li><a class="govuk-link x-govuk-link--todo">Organisation not shown</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>

<h2 class="govuk-heading-m">Issues with service</h2>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/403-status?status=">Sorry, there is a problem with the service</a></li>
    <li><a class="govuk-link" href="/unavailable?status=">Sorry, the service is unavailable</a></li>
</ul>

<h2 class="govuk-heading-m">Footer</h2>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/help?flow=">Help</a></li>
    <li><a class="govuk-link" href="/privacy-notice?flow=">Privacy Notice</a></li>
    <li><a class="govuk-link" href="/terms-and-conditions?flow=">Terms and conditions</a></li>
    <li><a class="govuk-link" href="/cookies?flow=">Cookies</a></li>
    <li><a class="govuk-link" href="/accessibility?flow=">Accessibility</a></li>

</ul>
