{% extends "/layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "{Service Name}" %}

{% set pageHeading = "User flows" %}
{% set pageSection = "Preload Defra account data" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <form action="/preload" method="post" >


            <!-- // Service Flow // -->
            <!-- ///////////////////////////////// -->
            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: "Service flow",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--m"
                    },
                    classes: "govuk-!-margin-top-7"
                },
                hint: {
                    text: "There are bespoke pages and user journeys for some services."
                },
                name: "amr",
                items: [
                    { value: "scp", text: "Core service", checked: checked("amr", "scp") },
                    { value: "ttp", text: "TTP service", checked: checked("amr", "ttp") },
                    { value: "cap", text: "RPA service", checked: checked("amr", "cap") }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
